html {
  scroll-snap-type: y mandatory;
}

#root__container {
  min-width: 350px;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 650px) {
  #root__container {
    margin: 20px auto;
    border-radius: 25px;
    min-height: 90vh;
    box-shadow: 20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
  }
}

/* START OF THE FONTS SECTION */
@font-face {
  font-family: "AmericanHorrorStory";
  src: local("AmericanHorrorStory"),
    url("./fonts/AmericanHorrorStory.otf") format("opentype");
}

@font-face {
  font-family: "AmericanHorrorStoryPromo";
  src: local("AmericanHorrorStoryPromo"),
    url("./fonts/AmericanHorrorStoryPromo.otf") format("opentype");
}

@font-face {
  font-family: "Creattion";
  src: local("Creattion"),
    url("./fonts/Creattion.otf") format("opentype");
}

@font-face {
  font-family: "CoveredByYourGrace";
  src: local("CoveredByYourGrace"),
    url("./fonts/CoveredByYourGrace.woff2") format("woff2");
}

@font-face {
  font-family: "muyao-chinese";
  src: local("muyao-chinese"),
    url("./fonts/muyao-chinese.ttf") format("truetype");
}

@font-face {
  font-family: "pinru-chinese";
  src: local("pinru-chinese"),
    url("./fonts/pinru-chinese.ttf") format("truetype");
}

@font-face {
  font-family: "ZiHunXianJianQiXiaTi-chinese";
  src: local("ZiHunXianJianQiXiaTi-chinese"),
    url("./fonts/ZiHunXianJianQiXiaTi-chinese.ttf") format("truetype");
}

@font-face {
  font-family: "YeZiGongChangDanDanHei-chinese";
  src: local("YeZiGongChangDanDanHei-chinese"),
    url("./fonts/YeZiGongChangDanDanHei-chinese.ttf") format("truetype");
}

@font-face {
  font-family: "YeZiGongChangTangYingHei-chinese";
  src: local("YeZiGongChangTangYingHei-chinese"),
    url("./fonts/YeZiGongChangTangYingHei-chinese.ttf") format("truetype");
}

/* END OF THE FONTS SECTIONS */

body {
  --pink: #f8a8d5;
  --white: #fff;

  /* break points */
  --bp-small: 390px;
  --bp-medium: 768px;
  --bp-large: 1024px;

  margin: 0;
  padding: 0;
}