.count-down__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 25px;
    font-family: "canger";
}

.suffix-text {
    display: block;
    line-height: 0.5;
    font-size: 1.5rem;
}

.count-down__container div {
    font-size: 1.5rem;
    line-height: 3rem;
}
