.Parallax_Container {
  position: relative;
}

.Parallax__Text {
  margin: 0;
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'canger';
  color: var(--pink);
}

.Parallax__Section {
  height: 95vh;
  width: 95vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.Parallax__Section>div {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 600px;
  max-height: min(90vh, calc(100vh - 120px));
  margin: 20px;
}

.Parallax__Image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  touch-action: manipulation; /* Allow manipulation on touch devices */
}

.Parallax__Progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  bottom: min(12vh, 100px);
  background: var(--pink);

  max-width: 650px; /* Restrict maximum width */
  margin: 0 auto;   /* Center horizontally */
}

/* HEADER */
.Parallax__Header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 650px; /* Restrict maximum width */
  margin: 0 auto;   /* Center horizontally */

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px,
      white 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
}

.Parallax__Header span {
  color: var(--pink);
  font-family: "AmericanHorrorStory", 'canger';
  font-size: 2rem;
  /* font-weight: bold; */
  line-height: 2rem;
}